/* початок стилів скидання для сторінки */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    margin: 0;
    list-style: none;
    padding-left: 0;
}

hr {
    margin: 0;
}

button {
    background-color: transparent;
    padding: 0;
    border: none;
}

/* кінець стилів скидання для сторінки */

.josefin-sans {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.alata {
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    /* max-width: 1110px; */
    max-width: 1134px;
    /* margin-right: auto;
    margin-left: auto; */
    /* padding-left: 10px;
    padding-right: 10px; */
    padding-inline: 10px;
    margin-inline: auto;
}

.flx {
    display: flex;
    justify-content: center;
    align-items: center;
}

body>header {
    background-color: green;
    min-height: 650px;
    background-image: url(./images/desktop/image-hero.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    color: #ffffff;
    padding-top: 64px;
    padding-bottom: 146px;

    section {

        /* background-color: yellow; */
        nav.flx {
            justify-content: space-between;
            margin-bottom: 130px;

            &>button {
                display: none;
            }
            &>button.close{
                border: none;
                font-size: 24px;
            }
            &>button.close::before{
                width: 0;
                height: 0;
            }
            
            ul {
                gap: 32px;

                li {
                    position: relative;
                }
            }

            a {
                font-size: 15px;
                line-height: 25px;
                /* color: #FFFFFF; */
                color: currentColor;
                padding-bottom: 8px;
                /* border-bottom: 1px solid currentColor; */
                display: block;
                transition: all 1s cubic-bezier(0, 1.25, 0.82, 0.36);
            }

            a:hover::before {
                /* content: 'd'; */
                content: '';
                position: absolute;
                left: 50%;
                /* right: 0%; */
                /* top: 0%; */
                bottom: 0%;
                width: 24px;
                height: 2px;
                background: currentColor;
                transform: translateX(-50%);
            }
            /* a::after{
                content: 'b';
            } */
        }

        h1 {
            max-width: 650px;
            width: 100%;
            height: 278px;
            padding: 40px;
            font-size: 72px;
            line-height: 70px;
            text-transform: uppercase;

            border: 2px solid currentColor;
        }
    }
}

ul.flx.open {
    display: flex;
    background: black;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 40px 24px;

    li {
        text-transform: uppercase;
        /* border: 1px solid red; */
        width: 100%;
        a{
            font-family: "Josefin Sans", sans-serif;
            font-optical-sizing: auto;
            font-weight: 300;
            font-size: 24px;
            
        }
    }
}

main {
    section.vr {
        min-height: 820px;
        padding-top: 160px;
        /* padding-bottom: 160px; */
        /* padding-block: 160px; */
        align-items: flex-end;

        article {
            /* background: blue; */
            margin-left: -160px;

            width: 541px;
            height: 317px;
            background: #FFFFFF;
            /* padding-top: 96px;
            padding-left: 96px; */
            padding: 96px 0 0 96px;

            h2 {
                font-size: 48px;
                line-height: 48px;
                text-transform: uppercase;
                color: #000000;
                /* margin-bottom: 25px; */
                margin-block-end: 25px;
            }

            p {
                font-size: 15px;
                line-height: 25px;
                color: #000000;
                mix-blend-mode: normal;
                opacity: 0.5;
                text-align: justify;

            }
        }
    }

    section.creations {
        padding-block: 184px;

        header {
            justify-content: space-between;
            margin-bottom: 80px;

            h2 {
                font-size: 48px;
                line-height: 48px;
                text-transform: uppercase;
                color: #000000;
            }

            a {
                width: 157px;
                height: 40px;
                /* background: red; */
                border: 1px solid #000000;
                font-size: 14px;
                line-height: 14px;
                letter-spacing: 5px;
                text-transform: uppercase;
                color: #000000;
                background-color: #fff;
                transition: all 1s cubic-bezier(0, 1.25, 0.82, 0.36);

            }

            a:hover {
                color: #FFFFFF;
                background-color: #000;

            }
        }

        div.projects {
            gap: 30px;
            flex-wrap: wrap;

            a {
                width: 256px;
                height: 450px;
                background-color: #ccc;
                /* padding: 32px 40px 32px 40px; */
                padding: 32px 40px;
                align-items: flex-end;
                justify-content: start;
                font-size: 32px;
                line-height: 32px;
                text-transform: uppercase;
                color: #FFFFFF;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
            }

            /* a:nth-child(1){ */
            /* a:nth-child(2n+1){ */
            /* a:nth-child(2n){ */
            /* a:nth-child(3n){ */
            a:nth-child(1) {
                background-image: url(./images/desktop/image-deep-earth.jpg);
            }

            a:nth-child(2) {
                background-image: url(./images/desktop/image-night-arcade.jpg);
            }

            a:nth-child(3) {
                background-image: url(./images/desktop/image-soccer-team.jpg);
            }

            a:nth-child(4) {
                background-image: url(./images/desktop/image-grid.jpg);
            }

            a:nth-child(5) {
                background-image: url(./images/desktop/image-from-above.jpg);
            }

            a:nth-child(6) {
                background-image: url(./images/desktop/image-pocket-borealis.jpg);
            }

            a:nth-child(7) {
                background-image: url(./images/desktop/image-curiosity.jpg);
            }

            a:nth-child(8) {
                background-image: url(./images/desktop/image-fisheye.jpg);
            }
        }
    }
}

footer {
    background-color: #000000;
    min-height: 160px;
    color: #ffffff;
    /* padding-bottom: 44px;
    padding-top: 44px; */
    padding-block: 44px;

    section {

        /* background-color: lawngreen; */
        div.top {
            justify-content: space-between;
            margin-bottom: 24px;

            >img {
                width: 144px;
                height: 24px;
            }

            ul {
                /* padding-top: 92px; */
                /* padding-bottom: 43px; */
                gap: 16px;
            }

            li {
                position: relative;
            }

            a {
                /* position: absolute; */
                /* height: 25px; */
                font-size: 15px;

                line-height: 25px;
                color: #FFFFFF;
                display: block;
                transition: all 1s cubic-bezier(0, 1.25, 0.82, 0.36);
            }

            a:hover::before {
                content: '';
                position: absolute;
                left: 50%;
                bottom: 0%;
                width: 24px;
                height: 2px;
                background: currentColor;
                transform: translateX(-50%);
            }
        }

        div.bottom {
            justify-content: space-between;

            ul {
                gap: 32px;
            }

            li {
                position: relative;
            }

            a {
                font-size: 15px;
                line-height: 25px;
                /* color: #FFFFFF; */
                color: currentColor;
                padding-bottom: 8px;
                /* border-bottom: 1px solid currentColor; */
                display: block;
                transition: all 1s cubic-bezier(0, 1.25, 0.82, 0.36);
            }

            a:hover::before {
                content: '';
                position: absolute;
                left: 50%;
                bottom: 0%;
                width: 24px;
                height: 2px;
                background: currentColor;
                transform: translateX(-50%);
            }

            p {
                opacity: 0.5;
            }
        }
    }
}